{:highlights [{:id #uuid "6718b91d-aead-4600-b659-df5716e8cb51",
               :page 402,
               :position {:bounding {:x1 29.20901870727539,
                                     :y1 266.5954055786133,
                                     :x2 69.92500305175781,
                                     :y2 272.07263946533203,
                                     :width 326,
                                     :height 422.77280265339965},
                          :rects ({:x1 29.20901870727539,
                                   :y1 266.5954055786133,
                                   :x2 69.92500305175781,
                                   :y2 272.07263946533203,
                                   :width 326,
                                   :height 422.77280265339965}),
                          :page 402},
               :content {:text " UTERINE TUBES"},
               :properties {:color "yellow"}}],
 :extra {:page 410}}
